.logo{
	width:100px;
	margin-left: 30px;
	margin-top: 30px;
	display: inline-block;

}
.witeli{
	color: red;
}
.nav{
	display: inline-block;
	margin-left: 30px;

}
.nav-li{
	display: inline-block;
	margin-left: 15px;
}
.image{
	margin-left: 30px;
	margin-top: 30px;
	display: inline-block;
	}
	.date{
		font-size: 22px;

	}
.blue-box{
	margin-left: 30px;
	background-color: #3D58A6;
	color: white;
	font-size:35px;
	padding: 15px;
	margin-top: 30px;
    }
.satauri{
	font-size: 20px;
	margin-top: 27px;
	margin-left: 30px;
}
.paragrafi{
	margin-left: 30px;
	margin-bottom: 30px;
	margin-top: 40px;
	display: inline-block;
	width: 960px;
}